.root {
	-teuton-lightgray: #92a897;
	-teuton-darkgray: #635c67;
	-teuton-green: #00c21b;
}

.jfx-spinner .arc { 
	-fx-stroke: #635c67; /* darkgray */
}

.title {
	-fx-font-size: 18pt;	
	-fx-font-weight: bold;
	-fx-text-fill: #635c67; /* darkgray */
}

.title-label {
	-fx-font-size: 18pt;	
	-fx-font-weight: bold;
	-fx-text-fill: #635c67; /* darkgray */
}

.separator *.line { 
	-fx-border-style: solid;
	-fx-border-width: 1px;
	-fx-border-color: #635c67; /* darkgray */
	-fx-border-radius: 2px;
}

.background {
}

.pattern-background {
	-fx-background-image: url("../images/background-pattern.png");
}

.split-pane {
	-fx-padding: 0 0 0 0;
}
.split-pane:horizontal > .split-pane-divider {
	-fx-padding: 0px 1px 0px 0px;
}
.split-pane:vertical > .split-pane-divider {
	-fx-padding: 0px 1px 0px 0px;
}

.tab-pane {
	-fx-padding: 0px;
}
.tab-pane *.tab-header-area *.tab-header-background {
	-fx-background-color: rgba(0, 194, 27, 0.5);  
}

.tab .tab-label {
	-fx-text-fill: black;
	-fx-font-size: 11pt;
	-fx-font-weight: bold;
}
.tab {
	-fx-padding: 5px 10px 5px 10px;
	-fx-background-color: transparent;
	-fx-background-insets: 0.0;
	-fx-background-radius: 0.0;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tab:selected .tab-label {
	-fx-text-fill: black;	
}
.tab:selected {
	-fx-background-color: rgba(255,255,255,0.5);
	-fx-border-width: 4px 0px 0px 0px; 	
	-fx-border-color: #00c21b; /* green */
}

#loadingPane {
	-fx-background-color: rgba(0, 0, 0, 0.8);
}

.mode-button {
     -jfx-button-type: RAISED;
     -fx-background-color: #00c21b; /* green */
     -fx-text-fill: white;
	 -fx-font-size: 12pt;
	 -fx-font-weight: bold;
     -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4); 
}
.mode-button:hover {
     -fx-background-color: rgb(0, 150, 0);
}
.mode-button .mode-icon {
	-glyph-size: 24px;
	-fx-size: 24px;
	-fx-fill: white;
}

.classroom .toggle-button {
     -jfx-button-type: RAISED;
     -fx-background-color: rgb(0, 150, 0);
	 -fx-font-size: 10pt;
     -fx-effect: dropshadow(three-pass-box, derive(cadetblue, -20%), 10, 0, 4, 4); 
}
.classroom .toggle-button:hover {
     -fx-background-color: rgb(0, 150, 0);
}
.classroom .toggle-button:selected {
     -fx-background-color: #00c21b; /* green */
     -fx-effect: null; 
}

.output-text {
	-fx-text-fill: lightgreen;
	-fx-font-family: consolas;
	-fx-font-size: 10pt;
}
.output-text .content {
	-fx-background-color: black;
}

.transparent {
	-fx-background-color: transparent;
}

.cases-label {
	-fx-text-fill: black;
	-fx-font-size: 11pt;
	-fx-font-weight: bold;
}
.cases-header {
	-fx-background-color: rgba(146, 168, 151, 0.5);
}

.scroll-pane {
	-fx-background-color: transparent;
}

.grade-label {
	-fx-font-size: 11pt;
	-fx-text-fill: green;
}

.case-cell .case-label {
	-fx-font-size: 13pt;
	-fx-font-weight: bold;	
}

.case-cell .grade-case-label {
	-fx-font-size: 10pt;
	-fx-font-weight: bold;	
}

.case-cell .members-label {
	-fx-font-size: 7pt;
}

.list-view {
    -fx-selection-bar: #AAE3EE;
}
